 <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th ng-repeat="header in headers">{{header}}
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in events">
          <!-- TODO: How to conbine these two?-->
          <td ng-repeat="(key,value) in event" ng-if="key=='eventOid'">
            <div><a ui-sref='event({id:{{value}}})'>{{value}}
            </div>
          </td>
          <td ng-repeat="(key,value) in event" ng-if="key!='eventOid'">
            {{value}}
        </tr>
      </tbody>
    </table>
</div> 