@import 'variables.css';

.form-group{
  .restore-label {
    font-size:12px;
    margin-top:0px;
    color:#FFFFFF
  }
}

.form-date {
    width:150px;
}

search-options {
    width:150px;
}


search-options label, search-input label {
  font-size: 16px;
  margin-top: 10px;
  color: @mets-main-blue;
}

search-options select, search-input input {
  font-size: 16px;
  margin-top: 2px;
  margin-right: 10px;
  width: 100%;
  color: @mets-main-blue;
}

#input-submit {
  font-size: 16px;
  margin-top: 5px;
  /*color: lightgrey; /*rgb(229, 235, 240);*/
}