<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-sm-3 col-lg-2">
      <div>
        <ul class="container tree">
          <li>
            <a ng-click="homeCtrl.events()">
              All events by state ({{homeCtrl.allEvents.length}})
            </a>
            <home-event-types types="homeCtrl.getStateNames()" counts="homeCtrl.stateCounts" event-filter="homeCtrl.getEventsByState(data)">
            </home-event-types>
          </li>
          <li>
            <a ng-click="homeCtrl.events()">
              All events by urgency ({{homeCtrl.allEvents.length}})
            </a>    
            <home-event-types types="homeCtrl.getUrgentNames()" counts="homeCtrl.urgentCounts" event-filter="homeCtrl.getEventsByUrgency(data)">
            </home-event-types>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6 col-sm-9 col-lg-10">
      <event-table events="homeCtrl.getEvents()" headers="homeCtrl.headers"></event-table>
    </div>
  </div>
</div>
