<div>
  <li ng-repeat="type in types"> {{type}} ({{getSubtotal({data:type})}})
  </li>
<!--  <ul class="container tree">
    <li>All events by state ( {{homeCtrl.allEvents.length}})</li>
      <ul>
        <li>Pending</li>
        <li>BeginOrStarted</li>
        <li>Notified</li>
        <li>Resolved</li>
        <li>Cancelled</li>
        <li>Rescheduled</li>
      </ul>
    <li>All events by urgency ( {{homeCtrl.allEvents.length}})</li>
      <ul>
        <li>Emergency</li>
        <li>Unplanned</li>
        <li>Planned</li>
        <li>RoutingOpt</li>
        <li>Internal</li>
      </ul>
    <li ng-repeat="type in types"> {{type}} </li>
  </ul>-->
</div>